@import 'settings';
@import 'foundation-emails';

@import 'template/template';

img.round {
  border-radius: 50%;
}

img.ywa-header {
  margin-top: -22px;
}

img#ywa-menu-image {
  width: 100%;
}

table.menu td.menu-item a, table.menu th.menu-item a {
  color: #0a0a0a;
}

.callout-inner.blue-border {
  border: 2px solid $primary-color;
}

.callout-inner.blue-background {
  border: none;
  background-color: lighten($primary-color, 30%);
  background: lighten($primary-color, 30%);
}

p.body-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

th.callout-inner.blue-solid {
  background: $light-blue;
  border: 1px solid $light-blue;
  color: #0a0a0a;
}

.sans-serif-font-family {
  font-family: $body-font-family !important;
}

.serif-font-family {
  font-family: $header-font-family !important;
  letter-spacing: 0.08px;
}


.text-blue {
  color: $primary-color;
}

.menu-item {
  img {
    width: 25px;
  }
}

table.button table td a {
  font-weight: 500;
}

@media screen and (max-width: 596px) {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  // table.body .menu-item  {
  //   img {
  //     width: 30px;
  //   }
  // }
}
